@import "tailwindcss";

:root {
  /* Backgrounds */
  --background: #0e0e10; /* main background */
  --surface: #18181b; /* cards, inputs, panels */

  /* Borders */
  --border: #2c2c31; /* dividers, card borders, input borders */

  /* Text */
  --foreground: #ededef; /* headings or body */
  --foreground-inverse: #1b1230; /* text on primary or dark backgrounds */
  --foreground-muted: #9a9aa1; /* descriptions or secondary text */
  --foreground-subtle: #6b6b72; /* labels or placeholders */

  /* Brand */
  --primary: #9c87f5; /* buttons, links, etc. */
  --primary-hover: #a491fb; /* hover states */
  --primary-active: #8c73e1; /* active states */

  /* Backup Brand */
  /* --primary: #EDEDEF; */
  /* --primary-hover: #FFFFFF; */
  /* --primary-active: #D0D0D4; */

  /* Semantic */
  --danger: #ef6f6c;
  --warning: #f2a354;
  --success: #5ad4a0;
  --info: #58a6ff;
}

@theme inline {
  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Backgrounds */
  --color-background: var(--background);
  --color-surface: var(--surface);

  /* Borders */
  --color-border: var(--border);

  /* Text */
  --color-foreground: var(--foreground);
  --color-foreground-inverse: var(--foreground-inverse);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-subtle: var(--foreground-subtle);

  /* Brand */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);

  /* Semantic */
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
}

body {
  position: relative;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}
